hostname {{ hostname }}

ip domain name branch.local
ntp server 192.168.37.10
snmp-server community public ro

interface Ethernet0/1
    description LAN
    ip address {{ lan_ip }} 255.255.255.0
    no shutdown

interface Ethernet0/2
    description WAN
    no shutdown